<div class="about">
  <div class="main-content">
    <h3 class="lang-esp">Sobre Nosotros</h3>
    <h3 class="lang-eng">About us</h3>

    <section>
      <h2 class="lang-esp">Nuestra Empresa</h2>
      <p class="legend lang-esp">Nuestra empresa nació en la comunidad indígena de San Pablito, Puebla, México. Contamos con 20 años de experiencia en el manejo y trato de cortezas de árbol para la elaboración del papel amate y 15 años de experiencia en fibras de planta tulle. Nos distinguimos por la puntualidad, formalidad y nuestros diseños únicos.
      </p>

      <h2 class="lang-eng"></h2>
      <p class="legend lang-eng">
      </p>
    </section>

    <section>
      <h2 class="lang-esp"></h2>
      <p class="legend lang-esp">
      </p>

      <h2 class="lang-eng"></h2>
      <p class="legend lang-eng">
      </p>
    </section>

    <section>
      <h2 class="lang-esp">Historia Papel Amate</h2>
      <p class="legend lang-esp">
        Nuestro arte es de origen prehispánico, mas de 500 años de historia coronan está tradición. Cuidamos y seguimos el mismo proceso utilizado por los indígenas mesoamericanos. Cuando usted compra con nosotros usted está comprando arte e historia.
      </p>

      <h2 class="lang-eng">Amate Paper History</h2>
      <p class="legend lang-eng">
        Our art is of pre-hispanic origin, more than 500 hundred years of history crown this tradition. We take care and follow the same process used by Mesoamerican Indians. When you buy with us, you are buying art and history.
      </p>
    </section>

    <section>
      <h2 class="lang-esp">Nuestros Productos</h2>
      <p class="legend lang-esp">
        Nuestros productos incluyen: Cuadros enmarcados, sin marco, con luces, herrería, lamparas, biombos, figuras, hoja de amate: liso, perforado y deshebrado.
      </p>
      <h2 class="lang-eng">Our Products</h2>
      <p class="legend lang-eng">
        Our products include: Framed and unframed art, with lights, blacksmithing, lamps, screens, figures, amate sheet: plain, perforated and shredded.
      </p>
    </section>
    <section>
      <h2 class="lang-esp">Nuestra Sala de Exhibición</h2>
      <p class="legend lang-esp">
        Nuestra sala de exhibición se encuentra en:<br/>
        Avenida Tonaltecas #235
        Col. Centro, Tonala, Jalisco, México
        Tel. 3310 506581
      </p>
      <h2 class="lang-eng">Our Showroom</h2>
      <p class="legend lang-eng">
        Our show room is in:<br/>
        Avenida Tonaltecas #235
        Col. Centro, Tonala, Jalisco, México
        Tel. 3310 506581

      </p>
    </section>

  </div>
</div>