<div class="contact">
  <h3>Contact Page</h3>
  <div class="main-content">
    <form id="contact">
      <input type="text" class="form-control" placeholder="Nombre"/>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="email" class="form-control" placeholder="Email"/>
      </div>
      <input type="phone" class="form-control" placeholder="Telefono"/>
      <input type="text" class="form-control" placeholder="Comentarios"/>
      <button type="button" class="btn btn-default btn-lg">
        Limpiar
      </button>
      <button type="button" class="btn btn-default btn-lg">
        Enviar
      </button>
    </form>
  </div>
</div>