<footer>
  <div>
    <span class="name">Gerardo Trejo</span>
    <dl>
      <dt class="phone">Telefono y Fax:</dt>
        <dd class="phone">01-776-7634-111</dd>
    </dl>
    <dl>
      <dt class="cell">Celular:</dt>
        <dd class="cell">3310506581</dd>
    </dl>
    <dl>
      <dt class="email">Email:</dt>
        <dd class="email">
          <a href="mailto:gerardo@arteamate.com">gerardo@arteamate.com</a>
          <a href="mailto:gerardo_amate@yahoo.com.mx">gerardo_amate@yahoo.com.mx</a>
        </dd>
    </dl>
    <span>Estado de Puebla, México</span>
  </div>
</footer>