<div class="gallery" ng-controller="galleryController">
  <div class="main-content">
    <h3 class="lang-esp">Galería</h3>
    <h3 class="lang-eng">Galery</h3>
    <p class="legend lang-esp" >
      Conoce y enamorate del verdadero arte prehispanico, elaborado siguiendo el mismo proceso artesanal desde hace siglos.
    </p>
    <p class="legend lang-eng" >
      Meet and fall in love of real prehispanic art, prepared using the same traditional process for centuries.
    </p>

    <div id="images-gallery">
      <div class="work_in_progress">
        <p class="lang-esp">Estamos trabajando arduamente para traer nuestro arte hasta ti.</p>
        <p class="lang-esp">Gracias por tu paciencia.</p>
        <p class="lang-eng">We are working hard to bring our art to you.</p>
        <p class="lang-eng">Thanks for your patience.</p>
      </div>
    </div>

  </div>
</div>