<div class="gallery" ng-controller="galleryController">
  <div class="main-content">
    <h3>Galeria</h3>
    <p class="legend" >
      Conoce y enamorate del verdadero arte prehispanico, elaborado siguiendo el mismo proceso artesanal desde hace siglos.
    </p>

    <div id="images-gallery">
      <div class="work_in_progress">
        <p>Estamos trabajando arduamente para traer nuestro arte hasta tí.</p>
        <p>Gracias por tu Paciencia.</p>
      </div>

      <img
        ng-repeat="image in gallery"
        class="mix {{image.categories}}"
        data-my-order="{{$index}}"
        ng-src="{{image.folder}}/{{image.name}}" />
    </div>

  </div>
</div>

<script type="text/javascript" src="resources/mixitup/src/jquery.mixitup.js"></script>
