<div class="home">
  <header>
    <div class="btn-group language-selection">
      <button type="button" data-lang="esp" class="btn btn-default btn-lang esp">Español</button>
      <button type="button" data-lang="eng" class="btn btn-default btn-lang eng">Ingles</button>
    </div>

    <div class="logo">
      <h1>Arte Amate</h1>
      <h2 class="by lang-esp">de Gerardo Trejo</h1>
      <h2 class="by lang-eng">by Gerardo Trejo</h1>
    </div>
    <h2 class="lang-esp">Arte, tradición y legado prehispánico.</h2>
    <h2 class="lang-eng">Art, tradition and prehispanic legacy.</h2>
    <nav>
      <span class="button">
        <a class="lang-esp" href="#gallery">Galería</a>
        <a class="lang-eng" href="#gallery">Galery</a>
      </span>
      <span class="button icon-th">
        <a class="lang-esp" href="#contact">Contacto</a>
        <a class="lang-eng" href="#contact">Contact</a>
      </span>
    </nav>
  </header>
</div>