html, body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #000;
}

a {
  color: #E2D6A9;
}

@baseColorTransparency: rgba(0,0,0,.7);

.content {
  padding-bottom: 260px;

  &.ng-enter {
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
    animation: fadeIn 4s;
  }

  &.ng-leave {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
  }

  h3 {
    color: #fff;
    font-family: 'Euphoria Script',cursive;
    font-size: 7em;
    margin: 20px 0;
  }

  p.legend {
    font-size: 2.4em;
    margin: 20px auto 30px;
    color: #fff;
    width: 80%;
    font-family: 'Poiret One',cursive;
  }

  .main-content {
    width: 80%;
    border: 1px solid #666;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(1,1,1,0.8);
  }
}

header {
  background-color: @baseColorTransparency;
  border-bottom: 1px solid #555;
  text-align: center;

  .logo {
    padding: 10px 0;
  }

  h1, h2 {
    display: inline-block;
  }

  h1 {
    font-family: 'Euphoria Script', cursive;
    padding-right: 10px;

    a {
      color: #fff;
      &:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 10px #fff;
      }
    }
  }

  h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    color: #E2D6A9;
    border-left: 1px solid #E2D6A9;
    padding-left: 10px;
  }

}

nav {
  margin: 5px auto;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.6em;
  font-family: 'Poiret One', cursive;

  .button {
    display: inline-block;
    border: 1px solid #E2D6A9;
    border-radius: 4px;
    padding: 8px 0;

    a {
      height: 100%;
      padding: 8px;
      color: #E2D6A9;
      text-decoration: none;
    }

    &:hover {
      box-shadow: 0 0 2px #fff;
      text-shadow: 0 0 2px #fff;
    }
  }
}

footer {
  background-color: @baseColorTransparency;
  border-bottom: 1px solid #555;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  color: #fff;
  font-size: 1.8em;
  font-family: 'Poiret One',cursive;
  position: fixed;
  bottom: 0;
  width: 100%;

  span {
    display: block;
  }

  dl {
    margin: 0 auto;
    width: 60%;

    dt, dd {
      display: inline-block;
      width: 40%;
    }

    dt {
      text-align: right;
    }

    dd {
      text-align: left;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2 {
  margin: 0;
}


// ---------------------------------------------------------------------------
// Home
// ---------------------------------------------------------------------------
.home header {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0;
  padding-top: 15px;
  margin: 0;
  color: #fff;
  text-align: center;
  margin-top: 300px;
  float: left;

  h1 {
    font-size: 10em;
    display: block;
  }

  h2 {
    font-size: 4em;
    border-left: none;
  }

  nav {
    display: block;
    padding: 0;
    font-size: 1.9em;
    margin: 30px auto;
    font-weight: bolder;

    .button {
      margin: 0 .4em;

      a {
        padding-left: 30px;
        padding-right: 30px;
        color: #FFEB79;
        background-color: transparent;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        border-radius: 2px;
        height: 100%;

        &:hover {
          background-color: #FFEB79;
          color: #9A5E36;
        }
      }
    }
  }
}

// ---------------------------------------------------------------------------
// Gallery
// ---------------------------------------------------------------------------
.gallery {
  .main-content {

    #images-gallery {

      div.work_in_progress {
        color: #fff;
        font-size: 2.4em;
        margin: 20px auto 30px;
        color: #fff;
        width: 80%;
        font-family: 'Poiret One',cursive;
        border: 1px solid #fff;
        padding: 10px;
      }

      img {
        max-height: 200px;
        margin: 15px;
        border: 2px solid #666;
        max-width: 31%;
      }

      .mix {
        display: none;
      }

      div.filters {
        margin: 10px;
        display: inline-block;

        button {
          margin: 3px;

          &.active {
            background-color: #5B2E11;
            color: #E2D6A9;
          }
        }

        &.material {
          button {
            background-color: #E0CA9B;

            &.active {
              background-color: #5B2E11;
              color: #E2D6A9;
            }
          }

        }

        &.accesories {
          button {
            background-color: #FDCEB2;

            &.active {
              background-color: #5B2E11;
              color: #E2D6A9;
            }
          }
        }

        &.other {
          button {
            background-color: #DFB293;

            &.active {
              background-color: #5B2E11;
              color: #E2D6A9;
            }
          }
        }
      }

    }
  }
}

// ---------------------------------------------------------------------------
// Contact
// ---------------------------------------------------------------------------
.contact {

  form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
    color: #fff;
  }

  form input.ng-valid.ng-dirty {
    background-color: #78FA89;
  }

  .alert {
    font-size: 1.5em;
    display: none;
  }

  .form-control, .input-group {
    margin: 0 auto 10px auto;
    width: 60%;
  }

  .input-group {
    width: 30%;
    display: inline-table;
  }

  .input-group .form-control {
    margin: 0 auto;
    width: 100%;
  }

  button {
    font-size: 1.4em;
    text-transform: uppercase;
  }
}
// MEDIA QUERIES

/* Large desktop */
@media(min-width:1200px){

}

/* Portrait tablet to landscape and desktop */
@media(min-width:768px)and(max-width:979px){

}

/* Landscape phone to portrait tablet */
@media(max-width:767px){
  body, html {
    font-size: 7px;
  }

  .home header {
    margin-top: 150px;

    h1 {
      font-size: 8.5em;
    }
  }

  nav {
  }

  .contact {
  .form-control, .input-group {
    width: 90%;
  }

  .input-group {
  }

  .input-group .form-control {
    width: 100%;
  }
}

}
